BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
IncludeBlocks: Preserve
# 80 is too little
ColumnLimit: 100

IncludeCategories: 
  - Regex:           '^"'
    Priority:        1
  - Regex:           '^<.*/.*\..*>'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        3
  - Regex:           '.*'
    Priority:        4
