BasedOnStyle: Google
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
# 80 is too little
ColumnLimit: 100
